{{#if mode_edit}}
    <a href="#" class="save" style="color:#ccc;text-decoration:none">
        <span class="glyphicon glyphicon-ok" style="color:#0c0"></span>
        Save
    </a>
    <a href="#" class="cancel" style="color:#ccc;text-decoration:none;margin-left:30px">
        <span class="glyphicon glyphicon-remove" style="color:#c00"></span>
        Cancel
    </a>
{{else}}
    <a href="#" class="edit" style="color:#ccc;text-decoration:none">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </a>
{{/if}}
