<div class="row">
    <div class="col-sm-6">
        {{view "action" name="payable_status" context=context}}
    </div>
    <div class="col-sm-6">
        {{view "action" name="money_out" context=context}}
    </div>
</div>
