<div class="row">
    <div class="col-sm-6">
        {{view "action" name="receivable_status" context=context}}
        {{view "action" name="top_debtors_widget" context=context}}
    </div>
    <div class="col-sm-6">
        {{view "action" name="money_in" context=context}}
        {{view "action" name="debtor_exposure_widget" context=context}}
    </div>
</div>
