<center>
    <h2>
        Bank Summary
    </h2>
    <h3>
        {{context.company_name}}
        <br/>
        From {{fmt_date context.data.date_from}} to {{fmt_date context.data.date_to}}
    </h3>
</center>
