<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<!--[if lt IE 9]><script>window.location='/upgrade_browser';</script><![endif]-->
<link href="/static/css/{{context.css_file}}" rel="stylesheet" type="text/css"/>
<script src="/static/js/{{context.js_file}}" type="text/javascript"></script>
</head>
<body>
</body>
</html>
