<div class="row">
    <div class="span6">
        {{view "field" name="body" width="450" height="100" context=context}}
    </div>
    <div class="span2">
        {{view "field" name="attach" context=context}}
    </div>
</div>
<div class="btn-toolbar">
    <a href="#" class="btn btn-success note-save">{{t "Save"}}</a>
    <a href="#" class="btn note-cancel">{{t "Cancel"}}</a>
</div>
