<div class="cms-block block-{{name}}" style="position:relative">
<a href="/action#name=cms_block_edit&active_id={{id}}&next=_referer" style="position:absolute;right:0px;z-index:999"><i class="icon-pencil"></i> Edit</a>
{{{content}}}
</div>
