<!DOCTYPE html>
<html>
    <head>
        <title>Netforce</title>
        <link href="/static/css/netforce_ui.css" type="text/css" rel="stylesheet"/>
        <script src="/static/js/netforce_ui.js" type="text/javascript"></script>
    </head>
    <body>
        {{view "block" name="content" context=context}}
    </body>
</html>
