<ul class="dropdown-menu" role="menu">
    <li>
        <a href="#" data-action="set_default">Set Default</a>
    </li>
    <li>
        <a href="#" data-action="clear_default">Clear Default</a>
    </li>
</ul>
