{{#loop context=context}}
    {{view "form_list_item" layout=../layout  context=context}}
{{/loop}}
<div class="btn-toolbar">
    <a class="btn btn-add btn-default btn-small"><i class="icon-plus-sign"></i> Add</a>
</div>
