<div style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px">
{{#view "form" context=context}}
    <table>
        <tr>
            <td style="width:100%">
                {{{call ../render_form_body context}}}
            </td>
            {{#if context.readonly}}
                <td style="width:30px;min-width:30px">
                </td>
            {{else}}
                <td style="width:30px;min-width:30px">
                    <a href="#" class="btn-delete" style="color:#333;margin-left:15px"><i class="icon-remove"></i></a>
                </td>
            {{/if}}
        </tr>
    </table>
{{/view}}
</div>
