<div class="page-header nf-page-header">
    <h1>{{title}}</h1>
</div>
<div class="btn-toolbar">
    <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn btn-sm btn-default btn-mode {{#ifeq mode 'day'}} active {{/ifeq}}" data-mode="day">Day</button>
        <button class="btn btn-sm btn-default btn-mode {{#ifeq mode 'week'}} active {{/ifeq}}" data-mode="week">Week</button>
        <button class="btn btn-sm btn-default btn-mode {{#ifeq mode 'month'}} active {{/ifeq}}" data-mode="month">Month</button>
    </div>
    <center><h2>{{sub_title}}</h2></center>
</div>
<div class="nf-gantt-content" style="margin-top:20px">
</div>
