<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4>{{t 'Add Items'}}</h4>
        </div>
        <div class="modal-body">
            {{{content}}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary m2m-select">{{t 'Select'}}</button>
            <button class="btn btn-default m2m-cancel">{{t 'Cancel'}}</button>
        </div>
    </div>
</div>
