<a href="#" style="border-top:1px solid #e5e5e5;padding:10px;display:block;text-decoration:none">
    {{#if edit}}
        <i class="icon-remove" style="float:right; margin-top: 2px; opacity: .25"></i>
    {{else}}
        <i class="icon-chevron-right" style="float:right; margin-top: 2px; opacity: .25"></i>
    {{/if}}
    {{{content}}}
</a>
