<td class="nf-row-handle" style="cursor:move;background:#f8f8f8 url('/static/img/drag-handle.png') no-repeat 4px">
    <i class="icon-ellipsis-horizontal"></i>
</td>
{{#each fields context=context}}
    <td class="sheet-cell{{#if readonly}}{{else}}{{#if required}} nf-required-field{{/if}}{{/if}}" data-field="{{name}}" data-view-cid="{{../view_cid}}" {{#if readonly}}data-readonly="1"{{/if}} style="{{#ifeq align "right"}}text-align:right;{{/ifeq}}{{#if invisible}}display:none;{{/if}}">
        {{field_value name context=context m2o_link=true click_action=click_action show_image=show_image scale=scale}}
    </td>
{{/each}}
<td style="width: 14px; padding: 2px 3px 0">
    {{#if show_remove}}
        <a href="#" class="nf-sheet-remove-line" tabindex="-1"><i class="icon-remove"></i></a>
    {{/if}}
</td>
