<ul class="nav nav-tabs nf-nav-tabs {{#unless options.nobackground}} nf-form-tabs{{/unless}}">
    {{#each tabs context=context}}
        {{#unless attrs.invisible}}
            <li {{#if active}}class="active"{{/if}}>
                <a href="#{{tab_id}}">{{string}}</a>
            </li>
        {{/unless}}
    {{/each}}
</ul>
<div class="tab-content">
    {{#each tabs context=context}}
        <div class="tab-pane{{#if active}} active{{/if}}" id="{{tab_id}}">
            {{call ../render_form_body tab_layout context}}
        </div>
    {{/each}}
</div>
