.nf-header {
    background-color: #369;
}

.nf-user-menu {
    float: right;
    list-style-type: none;
    font-size: 12px;
    margin-top: 5px;
    padding-left: 0;
    margin-bottom: 0;
}

.nf-user-menu > li > a {
    color: #ccc;
}

.nf-user-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
}

.nf-user-menu > li {
    float: left;
    padding: 0px 10px;
    border-right: 1px solid #666;
}

.nf-user-menu > li:last-child {
    border-right: none;
}

.nf-user-menu .caret {
    border-top-color: white;
}

.nf-version {
    float: left;
    width: 40px;
    color: #999;
    font-size: 9px;
    margin: 5px;
}

.nf-company-menu a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    line-height: 40px;
}

.nf-navbar .navbar-nav > li > a {
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
}

.nf-navbar.navbar {
    border-radius: 4px;
}

.navbar-inverse.nf-navbar {
    margin-bottom: 0;
    background-color: #258;
    background-image: -moz-linear-gradient(top, #258, #258);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#258), to(#258));
    background-image: -webkit-linear-gradient(top, #258, #258);
    background-image: -o-linear-gradient(top, #258, #258);
    background-image: linear-gradient(to bottom, #258, #258);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff225588', endColorstr='#ff225588', GradientType=0);
    border-color: #258;
    /*min-height: 40px;*/
}

.navbar-inverse.nf-navbar .navbar-brand {
    color: #ccc;
    /*padding: 10px 15px;*/*/
    /*height: 40px;*/
}

.navbar-inverse.nf-navbar .navbar-nav > li > a {
    color: #ccc;
}

.navbar-inverse.nf-navbar .navbar-brand {
    color: #fff;
}

.navbar-inverse.nf-navbar .navbar-brand img {
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.navbar-inverse.nf-navbar .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #369;
}

.navbar-inverse.nf-navbar .navbar-toggle {
    border-color: #369;
}

.navbar-inverse.nf-navbar .navbar-collapse, .navbar-inverse .navbar-form {
    border-top: none;
}

.navbar-inverse.nf-navbar .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #258;
}

@media (max-width: 767px) {
    .navbar-inverse.nf-navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #ccc;
    }

    .navbar-inverse.nf-navbar .navbar-nav .open .dropdown-menu .divider {
        background-color: #666;
    }
}


.nf-btn-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nf-breadcrumb {
    margin-top: 18px;
}

.nf-panel-inline-help.panel-info {
    margin-bottom: 20px;
    box-shadow: rgb(102, 102, 102) 0px 5px 5px -5px;
    border-color: #ccc;
    border-radius: 5px;
}

.nf-panel-inline-help .panel-heading {
    background-color: #6b3;
    background-image: none;
    padding: 0 10px;
}

.nf-panel-inline-help h3.panel-title {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}

.nf-panel-inline-help .panel-body {
    background-color: #efe;
    padding: 10px;
}

.nf-board-title {
    background-color: #258;
    color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 0 10px;
    margin-bottom: 10px;
}

.nf-board-title h3 {
    font-size: 14px;
    line-height:30px;
}

.nf-search {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #E8F1FF;
    padding: 10px 10px 0;
    margin-bottom: 18px;
}

.nf-nav-tabs {
    margin-bottom: 18px;
}

.nf-form {
    margin-bottom: 20px;
}

.nf-required-field label:after {
    color: #e32;
    content: '*';
    display:inline;
}

.nf-field label {
    font-size: 12px;
    font-weight: normal;
}

.nf-field input {
    font-size: 12px;
    height: 22px;
    padding: 3px;
    border-radius: 0;
}

.nf-field select {
    font-size: 12px;
    height: 22px;
    padding: 3px;
    border-radius: 0;
}

.nf-field textarea {
    font-size: 12px;
    padding: 3px;
    border-radius: 0;
}

.nf-field .input-group a {
    font-size: 12px;
    height: 22px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.nf-field .input-group button {
    font-size: 12px;
    height: 22px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.nf-page-header h1 {
    font-size: 24.5px;
    font-weight: bold;
}

.nf-sheet {
    font-size: 12px;
}

.nf-sheet td {
    padding:0 5px;
}

.nf-sheet td.nf-cell-edit {
    padding:0;
}

.nf-sheet-remove-line {
    color: #333;
}

.nf-row-handle {
    width: 20px;
    min-width: 20px;
}

.nf-sheet .table > thead > tr > th {
    border-bottom: 0;
}

.nf-sheet .form-group {
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs.nf-form-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #e8f1ff;
}

a.nf-list-header {
    color: #333;
}

.nf-modal .modal-header h4 {
    font-weight: bold;
}

.nf-btn-toolbar.btn-toolbar .btn-group {
    float: none; /* XXX */
}

.nf-table-container {
    overflow-x: auto;
}

[data-readonly="1"] {
    background-color: whitesmoke;
}

.nf-required-field input, .nf-required-field select, .nf-required-field textarea, td.nf-required-field {
    background-color: #ffffcc;
}

.nav-sub{
    width: 75%;
}
