<v:modal title="Validate picking">
    <div class="modal-body">
        <v:flash/>
        <v:field name="picking_id" invisible="1"/>
        <v:field name="lines" template="pick_validate_lines" nolabel="1"/>
    </div>
    <div class="modal-footer btn-toolbar">
        <v:button string="Validate" method="do_validate" type="success"/>
        <v:button string="Cancel" action="_close"/>
    </div>
</v:modal>
