<v:page title="Compute Cost">
    <v:flash/>
    <p>
        This will compute the cost for all stock transactions that are not yet posted.
    </p>
    <v:form_foot>
        <v:button string="Compute" method="compute_cost" size="large" type="primary"/>
    </v:form_foot>
</v:page>
