<!--<v:page title="{{context.company_name}}">-->
<!--<v:flash/>-->
<!--<div class="row">-->
<!--<div class="span6">-->
<!--<v:action name="warehouse_widget"/>-->
<!--</div>-->
<!--<div class="span6">-->
<!--<v:action name="pick_in_widget"/>-->
<!--<v:action name="pick_out_widget"/>-->
<!--<v:action name="stock_below_widget"/>-->
<!--</div>-->
<!--</div>-->
<!--</v:page>-->
<!--<v:feedback/>-->
