<div class="nf-header">
    <div class="container">
        {{include "main_header" context=context}}
        {{include "stock_menu" context=context}}
    </div>
</div>
<div class="container">
    {{{context.content}}}
    <footer class="footer">
    </footer>
</div>
