<div class="navbar navbar-inverse nf-navbar" style="margin-bottom:0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/static/img/menu_icon.png"/> Netforce
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header nf-page-header">
        <h1>Manage Databases</h1>
    </div>
    {{view "flash" context=context}}
    <div class="btn-toolbar">
        <a href="#name=create_db" class="btn btn-default"><i class="icon-plus"></i> Create new database</a>
        <a href="#name=copy_db" class="btn btn-default"><i class="icon-share-alt"></i> Copy database</a>
        <a href="#name=upgrade_db" class="btn btn-default"><i class="icon-arrow-up"></i> Upgrade database</a>
        <a href="#name=delete_db" class="btn btn-default"><i class="icon-remove"></i> Delete database</a>
        <a href="#name=download_db" class="btn btn-default"><i class="icon-download"></i> Download database</a>
    </div>
    <div style="margin-top:30px">
        <a href="#name=login"><i class="icon-arrow-left"></i> Back to login</a>
    </div>
</div>
